---
import BaseLayout from "@layout/BaseLayout.astro";
---

<BaseLayout>
	<section
		class="bg-linear-to-b/oklch from-teal-200 via-transparent to-white"
	>
		<div
			class="mx-auto max-w-[85rem] space-y-8 px-4 pt-48 pb-12 sm:px-6 lg:px-8"
		>
			<h1 class="dm-sans text-4xl font-light text-slate-700 sm:text-5xl lg:text-6xl">
                Contact Us				
			</h1>
		</div>

        <div class="mx-auto max-w-3xl px-4 pb-24 sm:px-6 lg:px-8">
            <p class="mb-6 text-pretty text-slate-600">
                This whitepaper outlines the vision, technology, and strategic roadmap of XeonTek Ltd. As a pioneering software company established in 2013, we are committed to delivering innovative solutions that drive growth and success for our clients worldwide.
            </p>
            <p class="mb-6 text-pretty text-slate-600">
                Our core values of innovation, integrity, and customer-centricity guide our approach to product development and service delivery. This document provides insights into our technological advancements, market positioning, and future plans to maintain our leadership in the software industry.
            </p>
            <p class="mb-6 text-pretty text-slate-600">
                We invite investors, partners, and stakeholders to explore this whitepaper to understand our commitment to excellence and our strategic initiatives aimed at shaping the future of technology.
            </p>
            <p class="text-pretty text-slate-600">
                Join us as we continue to innovate, build, and repeat, delivering excellence every step of the way.
            </p>
        </div>
	</section>
</BaseLayout>
