---
import BaseLayout from "@layout/BaseLayout.astro";
---

<BaseLayout>
	<section class="bg-linear-to-b/oklch from-teal-200 via-transparent to-white">
		<div class="mx-auto max-w-[85rem] space-y-8 px-4 pb-12 pt-48 sm:px-6 lg:px-8">
			<h1 class="dm-sans text-4xl font-light text-slate-700 sm:text-5xl lg:text-6xl">
			Empower Your Data with <span class="font-semibold text-teal-700">XeonTek</span>
		</div>
	</section>

	<section class="py-24 sm:py-40"> <div class="mx-auto max-w-7xl px-6 lg:px-8">
	 <dl class="grid grid-cols-1 gap-x-3 gap-y-16 text-center lg:grid-cols-3"> 
	 <div class="flex flex-col gap-y-4 bg-teal-100 p-10 rounded-xl lg:rounded-l-xl lg:rounded-r-none"> 
	 <dt class="text-base/7 text-slate-600">We stand by the quality of DataNova. If you're not completely satisfied, we’ll issue a full refund within 30 days of purchase.</dt> 
	 <dd class="order-first text-3xl font-medium tracking-tight text-slate-900"> 
	 <h3>Our Guarantee</h3> </dd> </div><div class="flex flex-col gap-y-4 bg-teal-100 p-10 rounded-xl lg:rounded-none">
	  <dt class="text-base/7 text-slate-600">Purchase once, use forever. Both Essential and Advanced Editions include perpetual licenses with no ongoing maintenance fees.</dt>
	   <dd class="order-first text-3xl font-medium tracking-tight text-slate-900"> <h3>Lifetime Licensing</h3> </dd> 
	   </div><div class="flex flex-col gap-y-4 bg-teal-100 p-10 rounded-xl lg:rounded-r-xl lg:rounded-l-none">
	    <dt class="text-base/7 text-slate-600">Access all software updates free for one year from the purchase date. Afterward, continue receiving updates at a reduced renewal rate.</dt>
		 <dd class="order-first text-3xl font-medium tracking-tight text-slate-900"> <h3>One Year of Free Updates</h3> </dd> </div> </dl> </div> </section>

	
</BaseLayout>