---
import Icon from "@ui/icons/Icon.astro";
const { email, linkedin } = Astro.props;
---

<div>
  <h3 class="font-semibold text-slate-700">Investor Interest</h3>
  <ul class="mt-3 space-y-2 text-sm text-slate-600">
    <li>For investor inquiries, ping us @</li>

    <li class="flex items-center gap-x-2">
      <Icon name="mobile" />
      <a
        href={linkedin}
        rel="noopener noreferrer"
        target="_blank"
        class="transition-colors duration-300 hover:text-slate-500">LinkedIn</a
      >
    </li>
    <li class="flex items-center gap-x-2">
      <Icon name="email" />
      <a
        href={"mailto:" + email}
        class="transition-colors duration-300 hover:text-slate-500">{email}</a
      >
    </li>
  </ul>
</div>
