---

import Head from "@sections/Head.astro";
import Navbar from "@sections/Navbar.astro";
import Footer from "@sections/Footer.astro";

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-pt-32">
	<Head seo={seo} />
	<body class="bg-off-white selection:bg-teal-400 selection:text-slate-700">
		<Navbar />
		<main>
			<slot />			
		</main>
		<Footer />
		<script src="https://web3forms.com/client/script.js" async defer></script>
	</body>
</html>
